streamlit>=1.22.0
numpy>=1.24.3
opencv-python-headless>=4.10.1
Pillow>=9.0.0
pillow-heif>=0.10.0
matplotlib>=3.5.0

# For browser-based live streaming
streamlit-webrtc>=0.63.0

# PyAV, required by streamlit-webrtc
av>=10.0.0
